.name {
    font-family: 'Major Mono Display', monospace;
}
.title-1 {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 60px;
}
.text-2 {
    font-family: 'Major Mono Display', monospace;
    margin-top: 125px;
}
.img-1 {
    opacity: 0.3;
  filter: alpha(opacity=50);
}